@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/a3.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Managing Contacts
                    <a class="btn btn-default" asp-area="" asp-controller="Contacts" asp-action="Index">Show All Contacts</a>

                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/a3.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                     Managing Addresses
                    <a class="btn btn-default" h<a asp-area="" asp-controller="Addresses" asp-action="Index">Show All Addresses</a>
                  
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/a3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Call group by to show Number of addresses belonging to contact
                    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="AddressStats">Show Address Statistics
                       
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/a3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Call group by to show Number of computers at contact
                    <a class="btn btn-default"  asp-area="" asp-controller="Home" asp-action="ComputerStatistics">Show Computer Statisticss
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="jumbotron">
    <h1>Contact Management</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Sample of Contact Management</h2>
        <p>
          This app is using Entity Framework for an
            ASP.NET Core MVC web application.
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/pgavril/IntSample.git">See project source code &raquo;</a></p>
    </div>
</div>
